---
---

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/img/site-logo/favicon.png">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- Title-->
    <title>InfraTelecons - Servicios de Telecomunicación</title>
</head>

<body>
    <!-- Pealoader area start -->
    <div class="prealoader-area-wrapepr">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </div>
    <!-- Pealoader area end -->
    <header class="header-area" id="header-sticky">
        <div class="menu-area">
            <div class="container">
                <div class="row justify-content-xl-center">
                    <div class="col-xl-2">
                        <div class="site-logo site-top-logo">
                            <a href="index.html">
                                <img src="assets/img/site-logo/logo.png" alt="">
                            </a>
                        </div>
                        <div class="responsive-menu d-xl-none d-lg-none"></div>
                    </div>
                    <div class="col-xl-10 text-right d-none d-xl-block d-lg-block">
                        <div class="heus-main-menu">
                            <nav id="mobile-menu">
                                <ul id="menu">
                                    <li><a href="index.html">Inicio</a></li>
                                    <li><a href="#about">Nosotros</a></li>
                                    <li><a href="#services">Servicios</a></li>
                                    <li><a href="#contact">Contacto</a></li>
                                </ul>
                            </nav>
                            <div class="support-btn btn">
                                <a href="https://api.whatsapp.com/send?phone=593986265373">Whatsapp<span>+593986265373</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <main>
        <!-- Hero area start -->
        <section class="hero-area" data-background="assets/img/Background/header-bg.png">
            <div class="hero-area-shape-1">
                <img src="assets/img/shape/hero-shape-1.png" alt="">
            </div>
            <div class="container ">
                <div class="row justify-content-xl-center ">
                    <div class="col-xl-7 col-lg-6">
                        <div class="hero-inner-content ">
                            <h1>Proyectos de Infraestructura Mantenimiento y Fibra Óptica</h1>
                            <div class="heuse-hero-btn mt-20">
                                <a href="#contact" class="btn btn-filled ">Contracto Con Nosotros</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="hero-area-shape ">
                            <img src="assets/img/shape/hero-area.png " alt=" ">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero area end -->
        <!-- Feature area start -->
        <section class="about-area position-relative pt-125">
            <div class="container">
                <div class="feature-row">
                    <div class="row ">
                        <div class="col-xl-4 col-lg-4 text-center ">
                            <div class="feature-inner-content ">
                                <img src="assets/img/feature/infraestructura.png" alt=" ">
                                <h4>Infraestructura</h4>
                                <p>Instalación de RBS - Mantenimiento de RBS - Pintura de torres y en general, mimetizaciones, impermeabilizaciones, desbroce, readecuacione, gypsum.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 text-center ">
                            <div class="feature-inner-content ">
                                <img src="assets/img/feature/operacion_mantenimiento.png" alt=" ">
                                <h4>Operación y Mantenimiento</h4>
                                <p>Busqueda de interferencias de frecuencias - Cambios físicos, desmontajes de equipos - Cambios de baterías - Mantenimiento en general.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 text-center ">
                            <div class="feature-inner-content ">
                                <img src="assets/img/feature/telecomunicacion.png" alt=" ">
                                <h4>Telecomunicaciones</h4>
                                <p>Adquisición de sitios - Radios de búsqueda y planning - Optimización de red por KPI's - Análisiss y recomendaciones de parametrizacións post - Driver test - SSV's, Initial Tunning - Servicios de Call P - Optimización MOS.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Feature area end -->
        <!-- About area start -->
        <section class="about-area  position-relative pt-125 pb-125" id="about">
            <div class="about-area-image">
                <img src="assets/img/shape/about-vector.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6 ">
                        <div class="about-us-inner-content">
                            <div class="section-title mb-45">
                                <h4 class="text-uppercase mb-20">Bienvenido a Infratelecons</h4>
                                <h1>¿Quiénes Somos?</h1>
                            </div>
                            <p>Somos una empresa líder en el mercado convirtiéndonos en el socio estratégico de nuestros Clientes, proveyendo nuestros servicios a nivel nacional con resultados de calidad a través del desarrollo humano, la aplicación y administración
                                de tecnología que aporte a mejorar nuestros servicios.</p>
                            <div class="heuse-hero-btn about-btn mt-30">
                                <a href="#contact" class="btn btn-filled btn-grad-color">Contacta con Nosotros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="position-relative pt-125 pb-125">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 text-center">
                        <div class="about-area-card pt-60 pb-60 pl-40 pr-40">
                            <div class="about-area-card-after"></div>
                            <div class="about-area-card-before"></div>
                            <h3>Misión</h3>
                            <p>
                                Ser una empresa proveedora de Servicios de Red e Infraestructura caracterizada por su alto nivel técnico, competitivo y de crecimiento, proporcionando soluciones tecnológicas acorde a las expectativas de nuestros Clientes.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 text-center">
                        <div class="about-area-card pt-60 pb-60 pl-40 pr-40">
                            <div class="about-area-card-after"></div>
                            <div class="about-area-card-before"></div>
                            <h3>Visión</h3>
                            <p>
                                Ser una empresa líder en el mercado convirtiéndonos en el socio estratégico de nuestros Clientes, proveyendo nuestros servicios a nivel nacional con resultados de calidad a través del desarrollo humano, la aplicación y administración de tecnología que
                                aporte a mejorar nuestros servicios.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 text-center">
                        <div class="about-area-card pt-60 pb-60 pl-40 pr-40">
                            <div class="about-area-card-after"></div>
                            <div class="about-area-card-before"></div>
                            <h3>Valores</h3>
                            <p>
                                <ul>
                                    <li>- Honestidad</li>
                                    <li>- Integridad</li>
                                    <li>- Compromiso</li>
                                    <li>- Profesionalismo</li>
                                    <li>- Resultados</li>
                                    <li>- Responsabilidad Social</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About area end -->
        <!-- Video area Start -->
        <section class="video-area position-relative pt-125 pb-125">
            <div class="video-before align-items-center" data-background="assets/img/video/video-before.jpg">
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-xl-7  col-lg-7 offset-lg-5 offset-xl-5">
                        <div class="video-content-inner">
                            <h1 class="mb-20">Infraestructura y Telecomunicaciones</h1>
                            <h5>Nuestra empresa esta principalmente dedicada a brindar servicio de telecomunicaciones, infraestructura, mantenimiento de radio bases, soporte y asesorías de proyectos destinados el mejoramiento de redes de comunicación en fibra
                                óptica y coaxial. </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-after-shape">
                <img src="assets/img/video/video-shape-after.png" alt="">
            </div>
        </section>
        <!-- Video area end -->
        <!-- Service area start -->
        <section id="services" class="service position-relative pt-125 pb-120 theme-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="section-title mb-45">
                            <h4 class="text-uppercase mb-20">Servicios</h4>
                            <h1>Servicios que brindamos</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="services-item owl-carousel">
                            <div class="single-service text-center item pt-60 pb-60 pl-30 pr-30">
                                <img src="assets/img/service/infraestructura.png" alt="">
                                <h4 class="mb-10 mt-20 pb-10">Infraestructura</h4>
                                <p>Instalación de RBS. Mantenimiento de RBS, Pintura de torres y en general, mimetizaciones, impermeabilizaciones, desbroce, readecuaciones, gypsum.</p>
                            </div>
                            <div class="single-service text-center item pt-60 pb-60 pl-30 pr-30">
                                <img src="assets/img/service/operacion_mantenimiento.png" alt="">
                                <h4 class="mb-10 mt-20 pb-10">Operación y Mantenimiento</h4>
                                <p>Búsqueda Interferencias de Frecuencia, Cambios físicos, desmontajes de equipos, Cambio de baterías. Mantenimientos en general.</p>
                            </div>
                            <div class="single-service text-center item pt-60 pb-60 pl-30 pr-30">
                                <img src="assets/img/service/radio_frecuencia.png" alt="">
                                <h4 class="mb-10 mt-20 pb-10">Ingeniería Radio Frecuencia</h4>
                                <p>SSV’s, Initial Tunning, Drive Test. Servicios de Call P, Optimización – MOS.</p>
                            </div>
                            <div class="single-service text-center item pt-60 pb-60 pl-30 pr-30">
                                <img src="assets/img/service/cableado_estructural.png" alt="">
                                <h4 class="mb-10 mt-20 pb-10">Cableado Estructurado</h4>
                                <p>Instalación de patch cords FO y ethernet planta interna, Instalación de ODF’s, Bajantes de FO, Racks en general de comunicaciones. </p>
                            </div>
                            <div class="single-service text-center item pt-60 pb-60 pl-30 pr-30">
                                <img src="assets/img/service/despliegue_red.png" alt="">
                                <h4 class="mb-10 mt-20 pb-10">Despliegue de Red</h4>
                                <p>Adquisición de Sitios <br> Radios de Búsqueda y Planning</p>
                            </div>
                            <div class="single-service text-center item pt-60 pb-60 pl-30 pr-30">
                                <img src="assets/img/service/fibra_optica.png" alt="">
                                <h4 class="mb-10 mt-20 pb-10">Fibra Óptica</h4>
                                <p>Diseño y Construcción de redes GPON FO planta externa, Construcción de ODN’s, Tendido de FO Última Milla, FTTH.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service area end -->

        <!-- Contact area Start -->
        <section id="contact" class="contact-area position-relative pt-125 pb-125" data-background="assets/img/contact/contact.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3 text-center">
                        <div class="section-title color-white mb-45">
                            <h4 class="text-uppercase mb-20">Contacta con Nosotros</h4>
                            <h1>Estaremos Gustosos de Atenderlo</h1>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-4 col-lg-4 text-center ">
                        <div class="contact-inner-content">
                            <img src="assets/img/contact/direccion.png" alt=" ">
                            <h4>Dirección</h4>
                            <p>
                                Av. Jose Drom e4-22 y Pereira Esquina Edificio Iñaquito II Oficina 603, Quito - Ecuador
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 text-center ">
                        <div class="contact-inner-content ">
                            <img src="assets/img/contact/correo.png" alt=" ">
                            <h4>Correos</h4>
                            <p>
                                <ul>
                                    <li><a href="mailto:info@infratelecons.com">info@infratelecons.com</a></li>
                                    <li><a href="mailto:gerencia@infratelecons.com">gerencia@infratelecons.com</a></li>
                                </ul>

                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 text-center ">
                        <div class="contact-inner-content ">
                            <img src="assets/img/contact/telefono.png" alt=" ">
                            <h4>Teléfonos</h4>
                            <p>(+593) 0986265373</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
	        <!-- Contact area end -->
        <!-- Map-->
		<div id="gmp-map"></div>
        <!-- #Map end -->
    <!-- Footer area Start -->
    <footer class="footer-area">
        <div class="position-relative">
            <div class="header-top pt-125 pb-125">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-sm-6">
                            <div class="widget footer-sidebar">
                                <div class="site-logo footer-site-info">
                                    <a href="index.html">
                                        <img src="assets/img/footer/footer-logo.png" alt="">
                                    </a>
                                    <p class="mt-30">Somos una empresa que es un aliado estratégico en el sector de las Telecomunicaciones Móviles, disponemos Servicios de Red e Infraestructura.</p>
                                </div>
                                <div class="social-list footer-social-list mt-20">
                                    <a href="index.html" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="index.html" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="index.html" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-sm-6">
                            <div class="widget footer-sidebar">
                                <h3 class="mb-45">Nuestra Compañía</h3>
                                <ul>
                                    <li><a href="#about">Sobre Nosotros</a></li>
                                    <li><a href="#services">Servicios</a></li>
                                    <li><a href="#contact">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="widget footer-sidebar">
                                <h3 class="mb-45">Contactanos</h3>
                                <div class="footer-contact-info">
                                    <p><strong>Dirección:</strong> Av. Jose Drom e4-22 y Pereira Esquina Edificio Iñaquito II Oficina 603, Quito - Ecuador</p>
                                    <p><strong>Correo:</strong> info@infratelecons.com</p>
                                    <p><strong>Teléfono:</strong> (+593) 0986265373</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bootom pt-30 pb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="copyright-content">
                                <p>InfraTelecons © 2023 All Right Reserved. Desing By <strong><a href="https://www.kamaycode.com.ec/" target="_blank">Kamay Code</a></strong></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer area end -->
    <!-- JavaScript -->
    <script is:inline src="/assets/js/jquery-1.12.4.min.js"></script>
    <script is:inline src="/assets/js/popper.min.js "></script>
    <script is:inline src="/assets/js/bootstrap.min.js "></script>
    <script is:inline src="/assets/js/jquery.slicknav.min.js"></script>
    <script is:inline src="/assets/js/owl.carousel.min.js"></script>
    <script is:inline src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script is:inline src="/assets/js/jquery.nav.js"></script>
    <script is:inline src="/assets/js/main.js "></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDazMShBk3p1qDg7PDNEGyeJyOj45KsKPU&callback=initMap&libraries=&v=weekly" defer></script>
	<script is:inline>
		var map;
	
	function initMap() {
		var quito = {
			info: '<strong>Av. Jose Drom e4-22 y Pereira Esquina Edificio Iñaquito II Oficina 603.<br>Quito, Ecuador',
			lat: -0.171432,
			long: -78.485514,
		}
	
	
		var locations = [
			[quito.info, quito.lat, quito.long, 0],
		]
	
		var styleMatp = [{
			"elementType": "geometry",
			"stylers": [{
				"color": "#161c42"
			}]
		}, {
			"elementType": "labels.text.fill",
			"stylers": [{
				"color": "#8ec3b9"
			}]
		}, {
			"elementType": "labels.text.stroke",
			"stylers": [{
				"color": "#1a3646"
			}]
		}, {
			"featureType": "administrative.country",
			"elementType": "geometry.stroke",
			"stylers": [{
				"color": "#4b6878"
			}]
		}, {
			"featureType": "administrative.land_parcel",
			"elementType": "labels.text.fill",
			"stylers": [{
				"color": "#64779e"
			}]
		}, {
			"featureType": "administrative.province",
			"elementType": "geometry.stroke",
			"stylers": [{
				"color": "#4b6878"
			}]
		}, {
			"featureType": "landscape.man_made",
			"elementType": "geometry.stroke",
			"stylers": [{
				"color": "#334e87"
			}]
		}, {
			"featureType": "landscape.natural",
			"elementType": "geometry",
			"stylers": [{
				"color": "#0f85e4"
			}]
		}, {
			"featureType": "poi",
			"elementType": "geometry",
			"stylers": [{
				"color": "#283d6a"
			}]
		}, {
			"featureType": "poi",
			"elementType": "labels.text.fill",
			"stylers": [{
				"color": "#6f9ba5"
			}]
		}, {
			"featureType": "poi",
			"elementType": "labels.text.stroke",
			"stylers": [{
				"color": "#161c42"
			}]
		}, {
			"featureType": "poi.park",
			"elementType": "geometry.fill",
			"stylers": [{
				"color": "#0f85e4"
			}]
		}, {
			"featureType": "poi.park",
			"elementType": "labels.text.fill",
			"stylers": [{
				"color": "#3C7680"
			}]
		}, {
			"featureType": "road",
			"elementType": "geometry",
			"stylers": [{
				"color": "#304a7d"
			}]
		}, {
			"featureType": "road",
			"elementType": "labels.text.fill",
			"stylers": [{
				"color": "#98a5be"
			}]
		}, {
			"featureType": "road",
			"elementType": "labels.text.stroke",
			"stylers": [{
				"color": "#161c42"
			}]
		}, {
			"featureType": "road.highway",
			"elementType": "geometry",
			"stylers": [{
				"color": "#2c6675"
			}]
		}, {
			"featureType": "road.highway",
			"elementType": "geometry.stroke",
			"stylers": [{
				"color": "#255763"
			}]
		}, {
			"featureType": "road.highway",
			"elementType": "labels.text.fill",
			"stylers": [{
				"color": "#b0d5ce"
			}]
		}, {
			"featureType": "road.highway",
			"elementType": "labels.text.stroke",
			"stylers": [{
				"color": "#0f85e4"
			}]
		}, {
			"featureType": "transit",
			"elementType": "labels.text.fill",
			"stylers": [{
				"color": "#98a5be"
			}]
		}, {
			"featureType": "transit",
			"elementType": "labels.text.stroke",
			"stylers": [{
				"color": "#161c42"
			}]
		}, {
			"featureType": "transit.line",
			"elementType": "geometry.fill",
			"stylers": [{
				"color": "#283d6a"
			}]
		}, {
			"featureType": "transit.station",
			"elementType": "geometry",
			"stylers": [{
				"color": "#3a4762"
			}]
		}, {
			"featureType": "water",
			"elementType": "geometry",
			"stylers": [{
				"color": "#0e1626"
			}]
		}, {
			"featureType": "water",
			"elementType": "labels.text.fill",
			"stylers": [{
				"color": "#4e6d70"
			}]
		}]
	
		var map = new google.maps.Map(document.getElementById('gmp-map'), {
			zoom: 20,
			center: new google.maps.LatLng(-0.171432, -78.485514),
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			styles: styleMatp
		})
	
		var infowindow = new google.maps.InfoWindow({})
	
		var marker, i
	
		for (i = 0; i < locations.length; i++) {
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(locations[i][1], locations[i][2]),
				map: map,
				icon: "https://i.ibb.co/MkxYzsx/maker-empsertel.png"
			})
	
			google.maps.event.addListener(
				marker,
				'click',
				(function(marker, i) {
					return function() {
						infowindow.setContent(locations[i][0])
						infowindow.open(map, marker)
					}
				})(marker, i)
			)
		}
	}
	</script>
	

<style>
#gmp-map {
  height: 100vh;
}
</style>


</body>

</html>